/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
}

/* Title */
.title {
  text-align: center;
  color: #201f1f;
  margin-bottom: 10px;
}

.hr-title {
  width: 40%;
  margin-left: 30%;
  border: 1px solid #191a1b;
  margin-bottom: 30px;
}

/* Form container styling */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 25px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 249, 249, 0.9);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Labels */
label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* Inputs & Textarea */
input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Buttons */
button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
  color: #ccc;
}

/* Return button */
.return-button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: red;
  color: white;
}

/* Alerts */
.alert {
  font-size: 13px;
  color: #dc3545;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}
.alert-success {
  color: #28a745;
}